
    <fieldset>
        <div class="ui-helper-clearfix">
        <div class="display-label">SingleIntNumber：</div>
        <div class="display-field"><label id="DSingleIntNumber"></label></div>
        </div>
        <div class="ui-helper-clearfix">
        <div class="display-label"> SingleIntEnum：</div>
        <div class="display-field"><label id="DSingleIntEnum"></label></div>
        </div>     

        <div class="ui-helper-clearfix">
        <div class="display-label"> SingleMoney：</div>
        <div class="display-field"><label id="DSingleMoney"></label></div>
        </div>     
 
         <div class="ui-helper-clearfix">
        <div class="display-label">SingleDatetime：</div>
        <div class="display-field"><label id="DSingleDatetime"></label></div>
        </div>        

        <div class="ui-helper-clearfix">
        <div class="display-label">SingleVarchar：</div>
        <div class="display-field">
            <label id="DSingleVarchar"></label>
        </div>
        </div>

        <div class="ui-helper-clearfix">
        <div class="display-label">SingleLongVarchar：</div>
        <div class="display-field"><label id="DSingleLongVarchar"></label></div>
        </div> 

        <div class="ui-helper-clearfix">
        <div class="display-label">SingleBit：</div>
        <div class="display-field"><label id="DSingleBit"></label></div>
        </div> 

        <div class="ui-helper-clearfix">
        <div class="display-label">SingleTinyintBool：</div>
        <div class="display-field"><label id="DSingleTinyintBool"></label></div>
        </div> 

        <div class="ui-helper-clearfix">
        <div class="display-label">SingleTinyintEnum：</div>
        <div class="display-field"><label id="DSingleTinyintEnum"></label></div>
        </div> 

        <div class="ui-helper-clearfix">
        <div class="display-label">SingleText：</div>
        <div class="display-field"><label id="DSingleText"></label></div>
        </div> 

       @* <div class="ui-helper-clearfix">
        <div class="display-label">SingleBinary：</div>
        <div class="display-field" style="width:200px;"><label id="DSingleBinary"></label></div>*@

    </fieldset>