<fieldset>
        <div id="e">
        <div class="display-label">ESingleIntNumber：</div>
        <div class="display-field"><input  type="text" id="ESingleIntNumber" name="ESingleIntNumber" style="width:295px;"/><br /><span id="ESingleIntNumber_notice"></span></div>

        <div class="display-label">ESingleIntEnum：</div>
        <div class="display-field"><input  type="text" id="ESingleIntEnum" name="ESingleIntEnum" style="width:295px;"/><br /><span id="ESingleIntEnum_notice"></span></div>
    
        <div class="display-label">ESingleMoney：</div>
        <div class="display-field"><input  type="text" id="ESingleMoney" name="ESingleMoney" style="width:295px;"/><br /><span id="ESingleMoney_notice"></span></div>

        <div class="display-label">ESingleDatetime：</div>
        <div class="display-field"><input  type="text" id="ESingleDatetime" name="ESingleDatetime" style="width:295px;"/><br /><span id="ESingleDatetime_notice"></span></div>

        <div class="display-label">ESingleVarchar：</div>
        <div class="display-field"><input  type="text" id="ESingleVarchar" name="ESingleVarchar" style="width:295px;"/><br /><span id="ESingleVarchar_notice"></span></div>

        <div class="display-label">ESingleLongVarchar：</div>
        <div class="display-field">
            <textarea id="ESingleLongVarchar" name="ESingleLongVarchar" style="width:295px;"></textarea>
            <br /><span id="ESingleLongVarchar_notice"></span></div>

        <div class="display-label">ESingleBit：</div>
        <div class="display-field">
            <input  type="text" id="ESingleBit" name="ESingleBit" style="width:295px;"/>
       @*     <input type="radio" name="ESingleBit"  value="1"/>是
            <input type="radio" name="ESingleBit"  value="0"/>否*@
            <br /><span id="ESingleBit_notice"></span></div>

        <div class="display-label">ESingleTinyintBool：</div>
        <div class="display-field"><input  type="text" id="ESingleTinyintBool" name="ESingleTinyintBool" style="width:295px;"/><br /><span id="ESingleTinyintBool_notice"></span></div>

        <div class="display-label">ESingleTinyintEnum：</div>
        <div class="display-field"><input  type="text" id="ESingleTinyintEnum" name="ESingleTinyintEnum" style="width:295px;"/><br /><span id="ESingleTinyintEnum_notice"></span></div>

        <div class="display-label">ESingleText：</div>
        <div class="display-field">
            <input  type="text" id="ESingleText" name="ESingleText" style="width:295px;"/>
            <br /><span id="ESingleText_notice"></span></div>
   
        <div class="display-label">SingleBinary：</div>
        <div class="display-field"><input  type="file" id="ESingleBinary" name="ESingleBinary" style="width:295px;"/><span id="ESingleBinary_notice" style="display:none;"></span></div>
           
              </div>
    </fieldset>